
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.card {
  display: flex;
  width: 900px;
  min-height: 480px;
  background-color: #252525;
  border-radius: 18px;
}

.left {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 32px;
  color: #f0f0f0;
  margin-bottom: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field span {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 5px;
}

.field input {
  background-color: #2f2f2f;
  border: 1px solid #444;
  border-radius: 25px;
  padding: 12px 20px;
  color: #fff;
}

.btn-entrar {
  margin-top: 20px;
  background-color: #e0203a;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px;
  font-weight: bold;
}

.btn-entrar:hover {
  background-color: #c41a30; 
}

.register-link {
  margin-top: 20px;
  text-align: center;
  color: #888;
  font-size: 14px;
}

.register-link a {
  color: #e0203a;
}

.right {
  width: 40%;
  background-image: url('assets/login.jpg');
  background-size: cover;
  background-position: center;
}