/* 1. RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 50px;
    background-color: #111;
    border-bottom: 1px solid #222;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-icon {
    width: 100px;
    height: 50px;
    background-image: url('assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-links {
    display: flex;
      align-items: center;
      gap: 28px;
}

.nav-links a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

.btn-login {
    background-color: #C0392B;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
.nav-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.hero {
    min-height: 460px;
    display: flex;
    align-items: center;
    background-image: url('assets/principal.png');
    background-size: cover;
    background-position: center;
}

.hero-content {
    padding: 0 70px;
    max-width: 600px;
}

.hero-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-sub {
    color: #aaa;
    margin-bottom: 30px;
}

.btn-join {
    background: transparent;
    color: #fff;
    border: 2px solid #C0392B;
    padding: 12px 25px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-join:hover {
    background-color: #C0392B;
}

.section-history {
    padding: 70px 40px;
    text-align: center;
    background-color: #161616;
}

.section-history h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.accent-red {
    color: #C0392B;
}

.cards-section {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 40px 70px;
    background-color: #161616;
    flex-wrap: wrap;
}

.card {
    border: 2px solid #C0392B;
    border-radius: 30px;
    width: 280px;
    padding: 40px 20px;
    text-align: center;
    background-color: #1f1f1f;
}

.card-icon {
    width: 60px;
    height: 60px;
    background-color: #C0392B;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-card {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

footer {
    background-color: #0d0d0d;
    padding: 30px;
    text-align: center;
    border-top: 1px solid #222;
}

footer p {
    color: #555;
    font-size: 13px;
}

footer span {
  color: #C0392B;
}